*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  p{
    margin: 0;
  }
  
  /* html {
    height: 100%;
  }
  body {
    min-height: 100%;
  } */
  main{
    height: 90vh;
    width: 100%;
  }
  
  /* navbar */
  
  nav{
    height: 10vh;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.1);
  }
  
  #content{
    margin-left: 0;
    margin-right: 0;
  }
  
  

  /* allnews */
.row div{
    height: 90vh;
  }

  .newslistitem{ 
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.1);
  }

  ul li:hover{
    background-color: rgb(234, 234, 245);
    cursor: pointer;
  }

 .newslistdiv{
   overflow-y: scroll;
 }